<?xml version="1.0"?>
<config>
  <modules>
    <JoomlArt_JmProductDetail>
      <version>0.1.0</version>
    </JoomlArt_JmProductDetail>
  </modules>
  <frontend>
    <routers>
      <jmproductdetail>
        <use>standard</use>
          <args>
            <module>JoomlArt_JmProductDetail</module>
            <frontName>jmproductdetail</frontName>
          </args>
      </jmproductdetail>
    </routers>
		<layout>
		  <updates>
			<jmproductdetail>
			  <file>jmproductdetail.xml</file>
			</jmproductdetail>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <jmproductdetail>
        <class>JoomlArt_JmProductDetail_Helper</class>
      </jmproductdetail>
    </helpers>
	<blocks>
	  <jmproductdetail>
		<class>JoomlArt_JmProductDetail_Block</class>
	  </jmproductdetail>
	</blocks>
  </global>
  <admin>
	<routers>
	  <jmproductdetail>
	    <use>admin</use>
		<args>
		  <module>JoomlArt_JmProductDetail</module>
		  <frontName>jmproductdetail</frontName>
		</args>
	  </jmproductdetail>
	</routers>
  </admin>
  <adminhtml>
	<menu>
            <joomlart>
                <title>Joomlart</title>
                <sort_order>100</sort_order>
                <children>
                    <jmproductdetail module="jmproductdetail">
						<title>JmProductDetail</title>
						<sort_order>11</sort_order>
						<action>jmproductdetail/adminhtml_jmproductdetailbackend</action>
						<!--
						<children>
						  <jmproductdetailbackend module="jmproductdetail">
							<title>Backend Page Title</title>
							<sort_order>0</sort_order>
							<action>jmproductdetail/adminhtml_jmproductdetailbackend</action>
						  </jmproductdetailbackend>
						</children>
						-->
					  </jmproductdetail>
                </children>
            </joomlart>
        </menu>
	<!--	
	<menu>
	  <jmproductdetail module="jmproductdetail">
		<title>JmProductDetail</title>
		<sort_order>100</sort_order>
		<children>
		  <jmproductdetailbackend module="jmproductdetail">
			<title>Backend Page Title</title>
			<sort_order>0</sort_order>
			<action>jmproductdetail/adminhtml_jmproductdetailbackend</action>
		  </jmproductdetailbackend>
		</children>
	  </jmproductdetail>
	</menu>
	-->
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<jmproductdetail translate="title" module="jmproductdetail">
			  <title>JmProductDetail</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <jmproductdetailbackend translate="title">
			<title>Backend Page Title</title>
		  </jmproductdetailbackend>
			  </children>
			</jmproductdetail>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<jmproductdetail>
		  <file>jmproductdetail.xml</file>
		</jmproductdetail>
	  </updates>
	</layout>
  </adminhtml>
</config> 