<?xml version="1.0"?>
<config>
    <modules>
        <ITwebexperts_Rshipping>
            <version>0.1.7.4</version>
        </ITwebexperts_Rshipping>
    </modules>
    <frontend>
        <routers>
            <rshipping>
                <use>standard</use>
                <args>
                    <module>ITwebexperts_Rshipping</module>
                    <frontName>rshipping</frontName>
                </args>
            </rshipping>
        </routers>
        <layout>
            <updates>
                <rshipping>
                    <file>rshipping.xml</file>
                </rshipping>
            </updates>
        </layout>
        <events>
            <sales_quote_remove_item>
                <observers>
                    <rshipping_remove_item_after>
                        <type>singleton</type>
                        <class>rshipping/observer</class>
                        <method>salesQuoteRemoveItem</method>
                    </rshipping_remove_item_after>
                </observers>
            </sales_quote_remove_item>
        </events>
    </frontend>
    <admin>
        <routers>
            <rshipping>
                <use>admin</use>
                <args>
                    <module>ITwebexperts_Rshipping</module>
                    <frontName>rshipping</frontName>
                </args>
            </rshipping>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <rshipping>
                    <file>rshipping.xml</file>
                </rshipping>
            </updates>
        </layout>

        <events>
            <catalog_product_save_before>
                <observers>
                    <shipping_save_product_data>
                        <type>singleton</type>
                        <class>rshipping/observer</class>
                        <method>saveShippingMethod</method>
                    </shipping_save_product_data>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>
    <global>
        <models>
            <rshipping>
                <class>ITwebexperts_Rshipping_Model</class>
                <resourceModel>rshipping_mysql4</resourceModel>
            </rshipping>
            <rshipping_mysql4>
                <class>ITwebexperts_Rshipping_Model_Mysql4</class>
                <entities>
                    <rshipping>
                        <table>rshipping</table>
                    </rshipping>
                    <products>
                        <table>rshipping_products</table>
                    </products>

                </entities>
            </rshipping_mysql4>
        </models>
        <resources>
            <rshipping_setup>
                <setup>
                    <module>ITwebexperts_Rshipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rshipping_setup>
            <rshipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rshipping_write>
            <rshipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rshipping_read>
        </resources>
        <events>
            <checkout_cart_save_after>
                <observers>
                    <shipping_product_add_data>
                        <type>singleton</type>
                        <class>rshipping/observer</class>
                        <method>addShippingMethod</method>
                    </shipping_product_add_data>
                </observers>
            </checkout_cart_save_after>
            <ppr_get_turnover_dates_for_order_item>
                <observers>
                    <update_turnover_with_shipping>
                        <type>singleton</type>
                        <class>rshipping/observer</class>
                        <method>updateTurnoverPeriods</method>
                    </update_turnover_with_shipping>
                </observers>
            </ppr_get_turnover_dates_for_order_item>
            <ppr_get_booked_html_for_products>
                <observers>
                    <update_booked_html_for_shipping>
                        <type>singleton</type>
                        <class>rshipping/observer</class>
                        <method>updateBookedHtmlForShipping</method>
                    </update_booked_html_for_shipping>
                </observers>
            </ppr_get_booked_html_for_products>

            <sales_quote_collect_totals_before>
                <observers>
                    <update_shipping_amount>
                        <type>singleton</type>
                        <class>rshipping/observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                    </update_shipping_amount>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_quote_merge_after>
                <observers>
                    <rshipping_sales_quote_merge_after>
                        <type>singleton</type>
                        <class>rshipping/observer</class>
                        <method>salesQuoteMergeAfter</method>
                    </rshipping_sales_quote_merge_after>
                </observers>
            </sales_quote_merge_after>
        </events>
        <blocks>
            <rshipping>
                <class>ITwebexperts_Rshipping_Block</class>
            </rshipping>
        </blocks>
        <helpers>
            <rshipping>
                <class>ITwebexperts_Rshipping_Helper</class>
            </rshipping>
        </helpers>
    </global>
    <default>
        <payperrentals>
            <rshipping_general>
                <enabled>0</enabled>
                <allow_all_methods>0</allow_all_methods>
                <allow_custom_price>0</allow_custom_price>
                <product_page_shipping_methods>0</product_page_shipping_methods>
            </rshipping_general>
        </payperrentals>
    </default>
    <!--<phpunit>
        <suite>
            <modules>
                <ITwebexperts_Rshipping />
            </modules>
        </suite>
    </phpunit>-->
</config>