<?xml version="1.0"?>
<config>
    <modules>
        <ITwebexperts_Maintenance>
            <version>0.1.4</version>
        </ITwebexperts_Maintenance>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <itwebexperts_maintenance before="Mage_Adminhtml">ITwebexperts_Maintenance_Adminhtml</itwebexperts_maintenance>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <ITwebexperts_Maintenance>
                <use>standard</use>
                <args>
                    <module>ITwebexperts_Maintenance</module>
                    <frontName>maintenance</frontName>
                </args>
            </ITwebexperts_Maintenance>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <itwebexperts_maintenance>
                    <file>maintenance.xml</file>
                </itwebexperts_maintenance>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <after_getquantity>
                <observers>
                    <maintenance_remove_from_quantity>
                        <class>simaintenance/observer</class>
                        <method>removeMaintenanceFromGetQuantity</method>
                    </maintenance_remove_from_quantity>
                </observers>
            </after_getquantity>
            <after_booked>
                <observers>
                    <maintenance_add_to_serialized>
                        <class>simaintenance/observer</class>
                        <method>addMaintenanceToSerialized</method>
                    </maintenance_add_to_serialized>
                </observers>
            </after_booked>
        </events>
        <models>
            <simaintenance>
                <class>ITwebexperts_Maintenance_Model</class>
                <resourceModel>maintenance_resource</resourceModel>
            </simaintenance>
            <maintenance_resource>
                <class>ITwebexperts_Maintenance_Model_Mysql4</class>
                <entities>
                    <items>
                        <table>maintenance_items</table>
                    </items>
                    <snippets>
                        <table>maintenance_snippets</table>
                    </snippets>
                    <maintainers>
                        <table>maintenance_maintainers</table>
                    </maintainers>
                    <periodic>
                        <table>maintenance_periodic</table>
                    </periodic>
                    <status>
                        <table>maintenance_status</table>
                    </status>
                </entities>
            </maintenance_resource>
        </models>
        <helpers>
            <simaintenance>
                <class>ITwebexperts_Maintenance_Helper</class>
            </simaintenance>
        </helpers>
        <resources>
            <maintenance_setup>
                <setup>
                    <module>ITwebexperts_Maintenance</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </maintenance_setup>
            <maintenance_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </maintenance_read>
            <maintenance_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </maintenance_write>
        </resources>
        <blocks>
            <itwebexperts_maintenance>
                <class>ITwebexperts_Maintenance_Block</class>
            </itwebexperts_maintenance>
        </blocks>
        <template>
            <email>
                <maintenance_report_email>
                    <label>Maintenance Assigned Email</label>
                    <file>maintenance/maintenance_report.html</file>
                    <type>html</type>
                </maintenance_report_email>
            </email>
        </template>
    </global>
    <default>
        <payperrentals>
            <maintenance>
                <percent_maintain>.3</percent_maintain>
            </maintenance>
        </payperrentals>
    </default>
    <crontab>
        <jobs>
            <run_daily_maintenance>
                <schedule>
                    <cron_expr>5 2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>maintenance/items::createMaintenanceRecords</model>
                </run>
            </run_daily_maintenance>
        </jobs>
    </crontab>
</config>