<?xml version="1.0"?>  
<config>  
	<modules>  
		<JoomlArt_JmProductsDeal>  
			<version>0.1.1</version>  
		</JoomlArt_JmProductsDeal>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<JoomlArt_JmProductsDeal>
					<files>
						<default>JoomlArt_JmProductsDeal.csv</default>
					</files>
				</JoomlArt_JmProductsDeal>
			</modules>
		</translate>
		<layout>
			<updates>
				<jmproductsdeal>
					<file>jmproductsdeal.xml</file>
				</jmproductsdeal>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>  
			<joomlart_jmproductsdeal>  
				<class>JoomlArt_JmProductsDeal_Block</class>  
			</joomlart_jmproductsdeal>  
		</blocks> 		
		<models>  
			<joomlart_jmproductsdeal>  
				<class>JoomlArt_JmProductsDeal_Model</class>  
			</joomlart_jmproductsdeal>  
		</models>
		<helpers>  
			<joomlart_jmproductsdeal>  
				<class>JoomlArt_JmProductsDeal_Helper</class>  
			</joomlart_jmproductsdeal>  
		</helpers>
		<resources>
			<jmproductsdeal_setup>
				<setup>
					<module>JoomlArt_JmProductsDeal</module>
					<class>JoomlArt_JmProductsDeal_Model_Resource_Setup</class>
				</setup>
			</jmproductsdeal_setup>
         </resources>	
	</global>  
	<admin> 
		 <routers>
			<adminhtml>
				<args>
					<modules>
					 <JoomlArt_JmProductsDeal before="Mage_Adminhtml">JoomlArt_JmProductsDeal</JoomlArt_JmProductsDeal>
					</modules>
			   </args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<menu>
            <joomlart>
                <title>Joomlart</title>
                <sort_order>100</sort_order>
                <children>
                    <jmproductsdeal>
                        <title>JM JmProductsDeal</title>
                        <sort_order>12</sort_order>
                        <action>adminhtml/system_config/edit/section/joomlart_jmproductsdeal</action>
                    </jmproductsdeal>
                </children>
            </joomlart>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <joomlart_jmproductsdeal>
                                            <title>JM Daily Deal</title>
                                        </joomlart_jmproductsdeal>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
			<modules>
				<JoomlArt_JmProductsDeal>
					<files>
						<default>JoomlArt_JmProductsDeal.csv</default>
					</files>
				</JoomlArt_JmProductsDeal>
			</modules>
		</translate>
    </adminhtml>	
	<default>
        <joomlart_jmproductsdeal>
            <joomlart_jmproductsdeal>
                <show>1</show>                      
                <title>JM Daily Deal</title>                
                <quanlity>6</quanlity>
                <template>joomlart/jmproductsdeal/list.phtml</template>                
                <perrow>3</perrow>
				<width>135</width>   
				<height>135</height>  
				<max>0</max>     
            </joomlart_jmproductsdeal>
        </joomlart_jmproductsdeal>
    </default>	
	
</config>  