

/* Base settings */
body#bd {
			background-color: #272727;
		}

#jm-wrapper {
			background-color: #ffffff;
		}

#jm-header {
				background-color: #fff;
	}

.jm-megamenu ul.level0 li.mega a.mega {
	border-color: #fff;
}


#jm-bots3,
#jm-footer {
		}

a:active,
a:focus,
a:hover,
.subtitle,
.sub-title,
.btn-toggle.active,
.btn-toggle:hover,
.btn-toggle:active,
.btn-toggle:focus,
.pages ol li.current,
.pages ol li a.active,
.pages ol li a:focus,
.pages ol li a:hover,
.breadcrumbs li a:active,
.breadcrumbs li a:focus,
.breadcrumbs li a:hover,
.data-table .remove-item:active,
.data-table .remove-item:focus,
.data-table .remove-item:hover,
.form-search button:hover,
.form-language a:active,
.form-language a:focus,
.form-language a:hover,
.form-language a.active,
.form-currency li.active a,
.shop-access ul li a:active,
.shop-access ul li a:focus,
.shop-access ul li a:hover,
.jm-product-lemmon .prev:hover,
.jm-product-lemmon .next:hover,
.jm-product-deals .products-grid .deals-info li .item-count-days,
.jm-product-deals .products-grid li:hover .product-name a,
.block.block-cart .mycart-toggle a,
.block-account .block-content li a:active,
.block-account .block-content li a:focus,
.block-account .block-content li a:hover,
.block-account .block-content li.current,
.block-compare ol#compare-items  li a:active,
.block-compare ol#compare-items  li a:focus,
.block-compare ol#compare-items  li a:hover,
.compare-table tr.first td .product-name a:active,
.compare-table tr.first td .product-name a:focus,
.compare-table tr.first td .product-name a:hover,
.block-tags .block-content a:active,
.block-tags .block-content a:hover,
.block-tags .block-content a:focus,
.jm-product-list .products-grid li:hover .product-name,
.products-list .product-name a:active,
.products-list .product-name a:focus, 
.products-list .product-name a:hover,
.ratings .rating-links a:active,
.ratings .rating-links a:focus,
.ratings .rating-links a:hover,
.availability.out-of-stock span,
.availability-only strong,
.availability-only-details tr.odd td.last,
span.price,
.minimal-price-link .label,
.minimal-price-link .price,
.tier-prices-grouped li,
.more-views li:focus a i,
.more-views li:hover a i,
.more-views li.active a i,
.jm-product-price .availability span,
.product-name:active,
.product-name:focus,
.product-name:hover,
.tags-list li a:active,
.tags-list li a:focus,
.tags-list li a:hover,
.advanced-search-summary strong,
.page-sitemap .sitemap a:active,
.page-sitemap .sitemap a:focus,
.page-sitemap .sitemap a:hover,
.page-sitemap .sitemap li.level-0 a,
.cart-table .item-msg,
.cart .totals .checkout-types a,
.block-layered-nav dd li:focus,
.block-layered-nav dd li:hover,
.block-layered-nav dd li a:active .price,
.block-layered-nav dd li a:focus .price,
.block-layered-nav dd li a:hover .price,
.block-layered-nav dd li:focus .price,
.block-layered-nav dd li:hover .price,
.block-layered-nav dd li:focus a,
.block-layered-nav dd li:hover a,
.block-layered-nav dd li a:active,
.block-layered-nav dd li a:focus,
.block-layered-nav dd li a:hover,
.jm-megamenu ul.level0 li.mega a.mega.active,
.jm-megamenu ul.level0 li.mega a.mega:hover, 
.jm-megamenu ul.level0 li.mega:hover > a.mega,
.jm-megamenu ul.level1 li.mega div.group-title a.mega,
.jm-megamenu ul.level2 li.mega.active a.mega, 
.jm-megamenu ul.level2 li.mega a.mega:active, 
.jm-megamenu ul.level2 li.mega a.mega:focus, 
.jm-megamenu ul.level2 li.mega a.mega:hover,
.block-cart .product-details .product-name a:hover,
.jm-product-onedeal .products-grid .deals-info li .item-count-days,
.block-cart.product-details .edit:active,
.block-cart .product-details .edit:focus,
.block-cart .product-details .edit:hover,
.block-cart .product-details .remove:active,
.block-cart .product-details .remove:focus,
.block-cart .product-details .remove:hover,
.gift-messages h3,
.gift-messages-form h4,
.info-set h3,
.info-set h4,
.info-set .box h2,
.info-set .data-table .product-name,
.opc-block-progress dt.complete a, 
.opc-block-progress dt.complete .separator,
#opc-login .col-2 .buttons-set a:active,
#opc-login .col-2 .buttons-set a:focus,
#opc-login .col-2 .buttons-set a:hover,
.checkout-progress li.active,
.account-login .buttons-set a,
.addresses-list h2,
.news-view-more:active,
.news-view-more:focus,
.news-view-more:hover,
#jm-bots3 ul li a:active,
#jm-bots3 ul li a:focus,
#jm-bots3 ul li a:hover,
.jm-legal a,
.best-selling h3,
.info-inner2 ul.list-info li a,
.jm-error-page a:active,
.jm-error-page a:focus,
.jm-error-page a:hover,
.jm-error-page h1{
	color: #fbbb00;
}

#button-btt,
.contactinfo-inner .shop-now,
.dashboard .box-reviews .number,
.dashboard .box-tags .number,
.jm-product-deals .products-grid .view-details:active,
.jm-product-deals .products-grid .view-details:focus,
.jm-product-deals .products-grid .view-details:hover,
.jm-product-onedeal .products-grid .view-details:active,
.jm-product-onedeal .products-grid .view-details:focus,
.jm-product-onedeal .products-grid .view-details:hover,
#jm-mycart .btn-toggle,
.jm-mask-desc .jm-slide-desc .readmore,
.from-category:visited,
.from-category,
#cboxClose,
button.button { 
	background-color: #fbbb00;
}

.block-cart .summary a{
	color: #fbbb00 !important;
}

.more-views li.active a, 
.more-views li a:active, 
.more-views li a:focus, 
.more-views li a:hover, 
.ja-tab-navigator li.active a,
.checkout-progress li.active {
	border-color: #fbbb00;
}


#logo a {
		background-image:url("images/default/logo.png")  !important;
}

#flogo a {
		background-image:url("images/default/flogo.png") !important;
}

.jm-megamenu ul.level0 li.mega {
		background-image:url("images/default/hr.png");
}

.jm-slide-buttons span {
		background-image:url("images/default/slide-buttons.png");
}

#cboxPrevious {
		background-image:url("images/default/btn-quickview-pre.png");
}

#cboxNext {
		background-image:url("images/default/btn-quickview-next.png");
}

#jm-tops1 {
				background-color: #ffffff;
	}

#jm-tops2 {
		}

#jm-mass-top{
		}

#jm-mass-bottom{
				background-color: #ffffff;
	}

#jm-bots1{
				background-color: #ffffff;
	}

#jm-bots2{
				background-color: #ffffff;
	}