.ajax-rent-modal .overlay {
    background: #000;
    display: block;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=65);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.ajax-rent-loading-mask .overlay {
    background: #fff;
    display: block;
    left: 0;
    opacity: 0.3;
    filter: alpha(opacity=50);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.ajax-rent-loading-mask .loader {
    position: fixed;
    width: 220px;
    height: 19px;
    left: 47%;
    top: 50%;
    background: url('../images/ajax-rent-loader.gif') no-repeat;
    z-index: 501;
}

.ajax-rent-modal .block {
    position: fixed;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -100px;
    z-index: 501;
    min-width: 400px;
    min-height: 300px;
    background: #f8f7f5;
    border-radius: 15px;
}

.ajax-rent-modal .block .block-header, .ajax-rent-modal .block .block-footer {
    display: inline-block;
    width: 100%;
}

.ajax-rent-modal .block .block-content {
    text-align: left;
    padding: 0 20px;
}

.ajax-rent-modal .block .close-btn {
    margin: 3px 3px 0 0;
    float: right;
    width: 24px;
    height: 24px;
    background: url('../images/ajax_rent_close.png') no-repeat;
}