/* MODE LIST ---*/
.jm-product-onedeal .page-title {
  background: none;
  margin: 0 0 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.jm-product-onedeal .page-title h1{
  float: left;
  width: 100%;
  text-align: center;
}

.jm-product-onedeal .products-list li.item {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.jm-product-onedeal .products-list li.item:last-child {
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 0;
}

.jm-product-onedeal .products-list h2.product-name {
  font-size: 18px;
  margin-bottom: 20px;
}


.jm-product-onedeal .products-grid li:hover img, 
.jm-product-onedeal .products-grid li:hover .product-name, 
.jm-product-onedeal .products-grid li:hover .price-box, 
.jm-product-onedeal .products-grid li:hover .ratings {
  opacity: 1;
}

.jm-product-onedeal .products-grid li:hover .product-name a {
  color: #d90036;
} 

.jm-product-onedeal .products-list .deal-infor-wrap {
  float: left;
  width: 190px;
}


.jm-product-onedeal .products-list .sale-off,
.jm-product-onedeal .products-list .number-items-sold,
.jm-product-onedeal .products-list .number-product-left,
.jm-product-onedeal .products-list .save-money {
  float: left;
  display: block;
  padding: 15px 0;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #535353;
}

.jm-product-onedeal .products-list .sale-off,
.jm-product-onedeal .products-list .number-product-left {
  border-right: 1px solid #535353;
  margin-right: -1px;
}

.jm-product-onedeal .products-list .sale-off strong,
.jm-product-onedeal .products-list .number-items-sold strong,
.jm-product-onedeal .products-list .number-product-left strong,
.jm-product-onedeal .products-list .save-money strong {
  display: block;
}

.jm-product-onedeal .products-list .actions {
  margin: 0;
}

.jm-product-onedeal .products-list .add-to-links {
  margin: 0 20px;
}

.jm-product-onedeal .products-list .add-to-links li {
  display: block;
  margin: 20px 0;
}

.jm-product-onedeal .products-list .add-to-links a {
  float: none;
  margin: 0;
  text-indent: 40px;
  line-height: 30px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-family: NovecentowideNormalRegular,sans-serif;
  font-weight: normal;
}

.jm-product-onedeal .products-list .add-to-links a:hover,
.jm-product-onedeal .products-list .add-to-links a:focus,
.jm-product-onedeal .products-list .add-to-links a:active {
  color: #ff610b;
}

.jm-product-onedeal .products-list button.btn-cart {
  background: url(../images/btn_cart_big.png) no-repeat left top #ff610b;
  height: 80px;
  padding: 15px 15px 15px 75px;
  text-indent: 0;
  color: #fff;
  display: block;
  float: left;
  text-transform: uppercase;
  font-size: 11px;
  font-family: NovecentowideNormalRegular,sans-serif;
  font-weight: normal;
 }

.jm-product-onedeal .products-list button.btn-cart:hover,
.jm-product-onedeal .products-list button.btn-cart:focus,
.jm-product-onedeal .products-list button.btn-cart:active {
  background: url(../images/btn_cart_big.png) no-repeat left top #222;
  padding: 15px 15px 15px 75px;
}

.jm-product-onedeal .products-list .deal-infor-wrap .time-left {
  border: 1px solid #e5e5e5;
  margin-top: 20px;
  padding: 15px 20px;
  text-align: center;
}

.jm-product-onedeal .products-list .deal-infor-wrap .sale-ends {
  color: #ff610b;
  display: block;
  font-size: 17px;
}

.jm-product-onedeal .products-list .product-information {
  float: left;
  width: 550px;
}

.jm-product-onedeal .products-list .product-image {
  border: 1px solid #E5E5E5;
  margin: 0 20px 20px;
  overflow: hidden;
  padding: 0 18px 20px;
  width: 280px;
}

.jm-product-onedeal .products-list .product-image img {
  padding: 0;
}

.jm-product-onedeal .products-list .product-shop {
  float: left;
  width: 190px;
}

.jm-product-onedeal .products-list .product-shop .ratings {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}

/* MODE GRID ---*/
.jm-product-onedeal.grid .listing-type-grid { margin: 0; }

.jm-product-onedeal.grid.block { background: none; padding:0; margin-bottom:0; }

.jm-product-onedeal.grid .products-grid li { background:none;  }

.jm-product-onedeal .products-grid .deals-info {
  border-bottom: 2px solid #ebebeb;
  border-top: 2px solid #ebebeb;
  display: block;
  float: left;
  height: 55px;
  line-height: 55px;
  margin:29px 0;
  padding: 0;
  font-weight: 300;
  width: 100%;
}

.jm-product-onedeal li {
  border-right: 0 none;
  height: auto !important;
  margin: 0 !important;
  padding: 0;
  position: relative;
}

.jm-product-onedeal li span.price {
  font-size: 18px;
}

.jm-product-onedeal li .old-price span.price {
  font-size: 14px;
}

.jm-product-onedeal .products-grid .deals-info strong { 
  font-weight: 300;
}

.jm-product-onedeal .products-grid .deals-info li {
  border-left: 0;
  float: left;
  line-height: 24px;
  padding: 4px 0;
  text-align: center;
  width: 100%;
  height: auto !important;
}

.jm-product-onedeal .products-grid .deals-info li .item-count{ 
  width: 25%;
  float: left;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.jm-product-onedeal .products-grid .deals-info li .item-count-days{ 
  color: #d90036;
}

.jm-product-onedeal .products-grid .deals-info li .item-count span{ 
  width: 100%;
  float: left;
  font-weight: 300;
  color: #999;
}  

.jm-product-onedeal .products-grid .deals-info li .item-count-days span{ 
  color: #999;
}

.jm-product-onedeal .products-grid .view-details {
  background: #000;
  width: 100%;
  height: 34px;
  line-height: 34px;
  display: block;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  clear: both;
}

.jm-product-onedeal .products-grid .view-details:active,
.jm-product-onedeal .products-grid .view-details:focus,
.jm-product-onedeal .products-grid .view-details:hover {
  color: #fff;
  background: #d90036;
}

.jm-product-onedeal .products-grid .deals-info li.time-left { border-left:none;}
.jm-product-onedeal .products-grid .deals-info li .sale-ends { clear:none; border-bottom: none; margin:0; padding:0; }

.jm-product-onedeal .products-grid .deals-info li strong.sale-ends,
.jm-product-onedeal .products-grid .deals-info li strong.discount,
.jm-product-onedeal .products-grid .deals-info li strong.save { color:#ff610b; }

.jm-product-onedeal .products-grid li.item:hover .jmquickview {
  display:  block;
  position: absolute;
  top: 310px;
  left: 100px;
  padding: 10px 0;
  width: 180px;
}


.jm-product-deals .products-grid {
  padding: 0 !important;
  border-bottom: 0;
}

.jm-product-deals .products-grid li{
  height: 415px !important;
  border-bottom: 2px solid #f3f3f3;  
}

.jm-product-deals .products-grid li .inner {
  height: 91%;
}

.jm-product-deals .products-grid li .inner .old-price, 
.jm-product-deals .products-grid li .inner .special-price {
  display: inline-block;
  margin: 0;
}

.jm-product-deals .category-products{
  margin: 20px 0;
}

.jm-product-deals .products-grid .deals-info {
  border-top: 0;
  border-bottom: 0;
  display: block;
  float: left;
  height: 55px;
  line-height: 55px;
  margin: 0;
  padding: 25px 0 0;
  font-weight: 300;
  width: 100%;
}

.jm-product-deals .products-grid .deals-info strong { 
  font-weight: 300;
}

.jm-product-deals .products-grid .deals-info li {
  border-left: 0;
  float: left;
  line-height: 24px;
  padding: 0;
  text-align: center;
  width: 100%;
  height: auto !important;
  letter-spacing: 1px;
}

.jm-product-deals .products-grid .deals-info li .item-count{ 
  width: 25%;
  float: left;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.jm-product-deals .products-grid .deals-info li .item-count-days{ 
  color: #d90036;
}

.jm-product-deals .products-grid .deals-info li .item-count span{ 
  width: 100%;
  float: left;
  font-weight: 300;
  color: #999;
}  

.jm-product-deals .products-grid .deals-info li .item-count-days span{ 
  color: #999;
}

.jm-product-deals .products-grid .deals-info li.time-left { border-left:none;  border-bottom:none; }
.jm-product-deals .products-grid .deals-info li .sale-ends { clear:none; border-bottom: none; margin:0; padding:0; }

.jm-product-deals .products-grid .deals-info li strong.sale-ends,
.jm-product-deals .products-grid .deals-info li strong.discount,
.jm-product-deals .products-grid .deals-info li strong.save { color:#ff610b; }

/* Right Col ---*/
.side-col .jm-product-onedeals.grid.block { background: #fff; padding-top: 20px; }

.side-col .jm-product-onedeals .products-grid .product-image { border: 0; background: #fff; }

.side-col .jm-product-onedeals .products-grid li.item:hover .product-image {
  opacity: 100;
  filter: alpha(opacity=100);
}

.side-col .jm-product-onedeals .products-grid li.item { margin-bottom: 0; }

.side-col .jm-product-onedeals .products-grid .product-name {
  font-size: 14px;
  font-family: sans-serif;
}

.side-col .jm-product-onedeals .products-grid .price-box .price { font-size: 12px; }

.side-col .jm-product-onedeals .products-grid .deals-info { border: 0; margin-bottom: 0; }

.side-col .jm-product-onedeals .products-grid .deals-info li { padding: 0; border-left: 0; }

.side-col .jm-product-onedeals .products-grid .product-information { border-bottom: 1px solid #e5e5e5; padding-top: 0; }